@model List<Jant.Entities.Urun>

@foreach (var item in Model)
{
    <li>
        <div class="productofday">
            <a href="/Urun/GetProductDetails/?UrunId=@item.UrunId">
                <img src="~/Content/Wheels/@item.Resimler.Select(x=>x.ResimUrl).FirstOrDefault()"></a>
            <a href="/Urun/GetProductDetails/?UrunId=@item.UrunId"><span>@item.Marka.MarkaAdi - @item.UrunKodu</span></a>
            <div class="discount">%10<i class="icon-down-thin"></i></div>
            <div class="price"style="font-size:14px !important">@item.Fiyat TL+KDV</div>
            <div class="clear"></div>
            <div class="price" style="text-decoration:none !important;width:100% !important">@(item.Fiyat - (item.Fiyat * 10 / 100)) TL +KDV </div>
            
            
        </div>
    </li>
}
