
@{
    ViewBag.Title = "Giriş Başarısız..";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-9 login-form">
    <div style="background-color:red" class="login-form-title">Girişiniz Başarısız Olmuştur, Tekrar Deneyiniz..</div>
</div>
