
@{
    ViewBag.Title = "Başarısız Üyelik";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-9 login-form">
    <div style="background-color:red" class="login-form-title">Girdiğiniz Mail Adresi Sistemde Kayıtlıdır. Tekrar Deneyiniz..</div>
</div>

