@{
    ViewBag.Title = "Çıkış Yap";
}

@section Scripts {
<script type="text/javascript">
    window.setTimeout(function () {
        window.location.href = '@Url.Action("Index", "Home")';
    }, 2000);
</script>
    }
<div class="col-lg-9 login-form">
    <div class="login-form-title">Başarılı Bir Şekilde Çıkış Yaptınız, Yönlendiriliyorsunuz..</div>
</div>


