@model List<Jant.Entities.Marka>


@foreach (var item in Model)
{    
    <li>
        @Html.RouteLink(item.MarkaAdi, new
            {
                markaId = item.MarkaId,
                controller = "Urun",
                action = "GetProductsByBrandId"
            })
    </li>
}



