
@{
    ViewBag.Title = "Başarısız Üyelik";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-lg-9 login-form">
    <div style="background-color:red; height:auto" class="login-form-title">Seçtiğiniz Markaların Bir Veya Bir Kaç Tanesine Sahip Ürünler Olduğu İçin Bu Markalar Silinemez!!!</div>
</div>

