@{
    ViewBag.Title = "Başarılı Üyelik";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-lg-9 login-form">
    <div class="login-form-title">Ürün Başarılı Bir Şekilde Silinmiştir..</div>
</div>
